.custom-border {
  border-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(
    89.58deg,
    rgba(255, 255, 255, 0) 38.5%,
    rgba(255, 255, 255, 0.1) 100%
  );
  border-image-slice: 1;
}
